/*Common starts*/

    
/*Common ends*/
/*header starts*/

.sicon{
       margin-top: 30px;

}
.liststyle{
         text-decoration: none;
}
.c_h2{
    color: #314584;
}
.c_h3{
     color: red;
}
.c_some{
    color: #314584;
}
.i_style{
    margin-right: 70px;

} 
.c_menu{
       color: #314584;
}
.agency{
       margin-top: 130px;
}
.custitle{
        margin-top: 100px;

}
  .c_h1{
    color: #314584;
  }  
.service{
        margin-top: 130px;
}
.fineword{
       margin-top: 130px;
}
.cusimage{
         margin-top: 25px;
}
.c_creative{
    margin-top: 130px;
    margin-bottom: 30px;
    color:#314584 ;
}
.c_see{
      margin-top: 30px;
      
}
.blog{
        margin-top: 100px;
}
.contact{
       margin-top: 130px;
                        
}
.blogstyle{
         margin-top: 80px;
}

/*footer starts*/
.footer{
       margin-top: 130px;
       background-color: blue;
}
.c_style{
       margin-top: 40px;
}
.c_h4{
    color: white;
}
.ch1{
    color: red;
}
.cuscopy{
       color: white;
}


/*footer ends*/

        




